<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190705370731-9093qo74aei8ojspn8uugpap0au44ld1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190705370731-9093qo74aei8ojspn8uugpap0au44ld1</string>
	<key>API_KEY</key>
	<string>AIzaSyDusFHwZudOZ82D30deKoq61VO4eqRdXFE</string>
	<key>GCM_SENDER_ID</key>
	<string>190705370731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imagePickerApp</string>
	<key>PROJECT_ID</key>
	<string>image-picker-app</string>
	<key>STORAGE_BUCKET</key>
	<string>image-picker-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190705370731:ios:210afd18fbe5cf8cc6d32e</string>
</dict>
</plist>